<% if (totalPages > 1) { %>
    <div class="pagination">
        <% if (hasPrevPage) { %>
            <a href="<%= path %>?page=<%= page - 1 %>"><</a>
        <% } %>
        <% for (const pageNumber of Array.from({length: totalPages}, (_, i) => i + 1)) { %>
            <a href="<%= path %>?page=<%= pageNumber %>" class="<%= page === pageNumber ? 'current' : '' %>">
                <%= pageNumber %>
            </a>
        <% } %>
        <% if (hasNextPage) { %>
            <a href="<%= path %>?page=<%= page + 1 %>">></a>
        <% } %>
    </div>
<% } %>
